<content>
    <broker>
        <host>localhost</host>
        <port>1883</port>
        <username></username>
        <user-password></user-password>
    </broker>
    <database>
        <host>localhost</host>
        <port>9000</port>
        <region>local</region>
        <access-key-id>fakeMyKeyId</access-key-id>
        <secret-access-key>fakeSecretAccessKey</secret-access-key>
    </database>
</content>